.todos-bg-container {
    background-color: #f9fbfe;
    min-height: 100vh;
    padding: 30px;
}

.todos-heading {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.create-task-heading,
.todo-items-heading {
    font-size: 28px;
    font-weight: bold;
}

.create-task-heading-subpart,
.todo-items-heading-subpart {
    font-weight: normal;
}

.todo-user-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
}

.button {
    background-color: #4c63b6;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.todo-items-container {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

.todo-item-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-input {
    width: 20px;
    height: 20px;
}

.label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6f6ff;
    width: 100%;
    margin-left: 10px;
    border-left: 5px solid #4c63b6;
    border-radius: 5px;
    padding: 10px;
}

.checkbox-label {
    margin: 0;
    font-size: 18px;
}

.checked {
    text-decoration: line-through;
}

.Delete {
    width: 10vw;
    height: 5vh;
    background-color: blue;
    color: white;
    border: transparent;
    border-radius: 5px;
}